* {box-sizing: border-box}
body {font-family: 'Times New Roman', Times, serif; margin: 0;}


.tab {
  float: left;
  border: 1px solid pink;
  background-color: pink;
  width: 20%;
  height: 660px;
  font-family: 'Times New Roman', Times, serif;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: white;
}

.tab button.active {
  background-color:white;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 660px;
  background-color: white;
}

#search
{
margin-top: 290px;
margin-left:250px;
width: 450px;
padding: 25px;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
border-radius: 10px;
border-color: black;
}

#icon
{
 
    color: black;
    cursor: pointer;
    font-size: 55px;
    padding: 10px;
    

}

.border
{
    height: 260px;
    width:210px;
    float:left;
    margin:10px;
    margin-top:50px;
    border: 5px solid black;
    
    cursor: pointer;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .align
      {
          padding: 20px;
          background-color: white;
          border-radius: 5px;
          border: 1px solid black;
          font-family: 'Times New Roman', Times, serif;
          font-size: 25px;  
      }
      
    .col-1
    {
        float: left;
        width:40%;
        margin-top:80px;
        color: black;
        font-size: 25px;
        padding:10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .col-2
    {
        float: left;
        width: 60%;
        margin-top: 80px;
        border-color:pink;
    }
  .submit
  {
   margin-left: 150px;
     font-size: 20px;
   padding: 25px;
   border-radius: 10px;
   background-color:white;
   color: black;
   border-color: black;
   cursor: pointer;
   font-family: 'Times New Roman', Times, serif;
  }
 .tablinks
 {
   font-family: 'Times New Roman', Times, serif;
 }